<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.byblospilla">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/b_logo1"
        android:label="@string/app_name2"
        android:roundIcon="@mipmap/b_logo1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Page_Timetable"></activity>
        <activity android:name=".Page_Events" />
        <activity android:name=".Page_Rooms" />
        <activity android:name=".Page_Settings" />
        <activity android:name=".Page_Info" />
        <activity android:name=".page_admin" />
        <activity android:name=".Page1" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>