<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.byblospilla">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.    READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/bybloslogodark"
        android:label="@string/app_name2"
        android:roundIcon="@mipmap/bybloslogodark_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Page_modifyevents"></activity>
        <activity android:name=".Page_modifytimetable" />
        <activity
            android:name=".Page_Register"
            android:screenOrientation="locked" />
        <activity
            android:name=".Page_Login"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Page_where"
            android:screenOrientation="locked" />
        <activity
            android:name=".Page_Timetable"
            android:screenOrientation="locked" />
        <activity
            android:name=".Page_Events"
            android:screenOrientation="locked" />
        <activity
            android:name=".Page_Rooms"
            android:screenOrientation="locked" />
        <activity
            android:name=".Page_Info"
            android:screenOrientation="locked" />
        <activity
            android:name=".Page1"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked" />
    </application>

</manifest>